!!!
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Мастер-классы в Москве
    = favicon
    = stylesheet 'application', 'jquery.fancybox.min.css'
    = javascript 'jquery.min', 'jquery.fancybox.min'
  %body
    = render partial: 'shared/header'
    .container
      = yield
